<% include partials/header %>
<div class="background">
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Welcome to the Dog Rescue App!</h1>
            <h2><a href="/dogs">View all available dogs</a></h2>
        </div>
    </div>
</div>
<% include partials/footer %>