<% include partials/header %> 

<h1>View all dogs</h1>

<!--TODO: Show total results found-->

<% dogs.forEach( dog => { %> 
    <div class="card">
        <p><span class="dname"><%= dog.name %></span>, a <%= dog.breed %>, age <%= dog.age %></p> 
        <p>Location: <%= dog.location %></p>
        <hr>
    </div>
<% }); %>


<% include partials/footer %> 
