<h1>Please register here</h1>

<form action="/register" method="POST">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" placeholder="your username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="your chosen password">
    <button type="submit">Sign up</button>
</form>